{% extends 'comunes/Base.html' %}
{% block content %}
<div class="container">
  <h1>BIENVENIDO:  {{current_user.tipo}}</h1>

    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
            <li data-target="#demo" data-slide-to="5"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{url_for('static',filename='imagenes/itesz_4.jpg')}}" width="1100" height="500">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static',filename='imagenes/itesz_5.jpg')}}" width="1100" height="500">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static',filename='imagenes/itesz_1.jpg')}}" width="1100" height="500">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static',filename='imagenes/itesz_2.jpg')}}" width="1100" height="500">
                <div class="carousel-caption">
                </div>
            </div>

            <div class="carousel-item">
                <img src="{{url_for('static',filename='imagenes/itesz_3.jpg')}}" width="1100" height="500">
                <div class="carousel-caption">
                </div>
            </div>


        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<br>

{% endblock%}