{% extends 'comunes/Base.html' %}
{% block content %}

<!--Formulario-->
<br>


<div class="container">
    <center>
        <h2>Modificar Alumnos</h2>
    </center>
    <br>

    <div class="well">
        <form action="/Coordinador/guardar" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>

            <!--Fila 1-->
            <div class="form-row">
                <div class="col-md-2 mb-3">
                    <label for="nombre">ID:</label>
                    <input type="number" class="form-control" name="usuario" required placeholder="ID de Usuario"
                        readonly value="{{coordinador.idCoordinador}}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" required placeholder="Nombre del usuario"
                        value="{{coordinador.usuarios.nombre}}">
                </div>

                <div class="col-md-1 mb-3">
                    <label for="sexo">Sexo:</label>
                    <select class="custom-select" name="sexo" required>
                        {% if coordinador.usuarios.sexo=='M' %}

                        <option value="H">Hombre</option>
                        <option selected value="M">Mujer</option>

                        {% else %}
                        <option selected value="H">Hombre</option>
                        <option value="M">Mujer</option>
                        {% endif %}
                    </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" class="form-control" name="telefono" required placeholder="Teléfono"
                        value="{{coordinador.usuarios.telefono}}">
                </div>


            </div>

            <!--Fila 2-->
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" required placeholder="Email" ,
                        value="{{coordinador.usuarios.email}}" maxlength="100">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" class="form-control" name="contraseña" required placeholder="Contraseña"
                        maxlength="20" value="{{coordinador.usuarios.contraseña}}">
                </div>

                <div class="col-md-2 mb-3">
                    <label for="tipo">Tipo</label>
                    <input type="text" class="form-control" name="tipo" required placeholder="Tipo" maxlength="20"
                        value="{{coordinador.usuarios.tipo}}" readonly>
                </div>

                <div class="col-md-3 mb-3">
                    {% if coordinador.usuarios.estatus==True %}
                    <label>Estatus:</label>
                    <br>
                    <input type="checkbox" name="estatus" checked value="True">
                    {% else %}
                    <label>Estatus:</label>
                    <br>
                    <input type="checkbox" name="estatus" value="True">
                    {% endif %}
                </div>


                <div class="col-md-2 mb-3">
                    <label for="idCoordinador">ID_Coordinador</label>
                    <input type="number" class="form-control" name="idCoordinador" required placeholder="Numero de Control"
                        readonly value="{{coordinador.idCoordinador}}">
                </div>

                <div class="col-md-3 mb-3">
                    <label for="carrera">Carrera</label>
                    <select class="custom-select" name="carrera" required>
                        <option selected value="{{coordinador.idCarrera}}">{{coordinador.carreras.nombre}}</option>
                        {% for c in carreras %}
                        <option value="{{c.idCarrera}}">{{c.nombre}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="anioIngreso">Fecha de inicio</label>
                    <input type="date" class="form-control" name="inicio" required placeholder="Fecha de inicio"
                        readonly value="{{coordinador.fechaInicio}}">
                </div>

                <div class="col-md-2 mb-3">
                    <label for="anioIngreso">Fecha de inicio</label>
                    <input type="date" class="form-control" name="fin" required placeholder="Fecha de inicio"
                        readonly value="{{coordinador.fechaFin}}">
                </div>
            </div>



            <br>
            <center>
                <button class="btn btn-success" style="margin:20px" type="submit">Guardar</button>
                <a href="/Alumnos/Consulta" class="btn btn-secondary" style="margin:20px">Regresar</a>

            </center>


        </form>
    </div>


    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong> .
    </div>
    {% endfor %}
    {% endif%}

</div>


{% endblock%}