{% extends 'comunes/Base.html' %}
{% block content %}

<br>


<div class="container">
    <center>
    <h2>Registrar Periodo</h2>
    </center>
    <br>

    <div class="well">
        <form action="/periodos/agregar" method="post" enctype="multipart/form-data" class="form-horizontal">

            <!--Fila 1-->
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" required placeholder="Nombre del periodo" class="form-control">
                </div>

                <div class="col-md-3 mb-3">
                    <label for="fechaInico">Inicia:</label>
                    <input type="Date" name="inicio" required placeholder="Fecha de Inicio" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="fechaFin">Finaliza:</label>
                    <input type="Date" name="finaliza"  requiered placeholder="Fecha de Fin" class="form-control" >
                </div>
            </div>

            <br>
            <center>
            <button type="submit" style="margin:20px" class="btn btn-success">Guardar</button>
            <a href="/Periodos" class="btn btn-secondary" style="margin:20px">Regresar</a>
            </center>


        </form>
        <br>
</div>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong> .
    </div>
    {% endfor %}
    {% endif%}
</div>



{% endblock%}